
.label{
    color: white;
}

.register-container{
    width: 100%;
    max-width: 1300px;
    height: 890px;
    
    display: flex;
    align-items: initial;
    justify-content: center; 
    border-color: #7030a0;
    background-color:#E6A800;
    position: relative;
    
}
.register-container .content{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;

}

.register-container .content .register-forms{
    width: 600px;
    height: 700px;
    align-items: center;
    margin-right: 80px;

}

.register-container .content .register-text{
    width: 450px;
    margin-left:80px;
    margin-top:-500px;
    margin-right:40px;
}

.register-container .content .register-text h1{
    font-size: 50px;
    margin-bottom: 80px;
}

.register-container .content .register-text p{
    font-size: 25px;
}

.register-container-initial{
    width: 600px;
    height: 230px;
    background-color: #E6A800;
    border-bottom: #7030a0;
    border: 1px solid #7030a0;
    align-items: center;
    justify-content: left ;
    display: flex;
    

}


.register-container-initial .left-form{
    float: left;
    margin-top: -20px;
    margin-left: 75px;
}

.register-container-initial .left-form Input{
    margin-top: 20px;
}

.register-container-initial .right-form{
    float: right;
    margin-left: 50px;
    margin-top: -20px;
}
.register-container-initial .right-form .inputs{
    margin-top: 20px;
    margin-bottom: 26px;
}

.register-container-initial .right-form .inputs Input{
    margin-top: 20px;
}

.register-container-initial .right-form .checkBoxes {
    margin-top: 14px;

}

.register-container-buyer{
    margin-top: 30px;
    width: 600px;
    height: 320px;
    background-color: #E6A800;
    border: 1px solid #7030a0;
    align-items: center;
    justify-content: left ;
    display: flex;
}

.register-container-buyer Input{
    margin-top: 15px;
}


.register-container-buyer .form-buyer{
    float: left;
    margin-left: 75px;
    margin-top: -30px;    
}


.left-form-adress{
    float: left;
}
.right-form-adress{
    float: left;
    margin-left: 15px;
}
.right-form-address{
    float: right;
    margin-left: 15px;
}

.register-container-seller{
    margin-top: 30px;
    width: 600px;
    height: 340px;
    background-color: #E6A800;
    border: 1px solid #7030a0;
    align-items: center;
    justify-content: left ;
    display: flex;
    
}
.register-container-seller Input{
    margin-top: 13px;
}

.register-container-seller .form-seller{
    margin-left: 10;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


.buttonRegister{
    position: fixed;
    left: 260px;
    top: 20px;
    width: 100px;
    background-color: #7030a0;
}
