
.div1{
    padding: 0px;
    margin-top: 0px;
}

.dashboard-header {
    min-width: 1080px;
    margin-top: -25px;
    margin-left: -10px;
    width: 1920px; 
    height: 106px;
    background-color: #F37F2B;
}
.header-menu{
    position: absolute;
    width: 1920px;
    height: 50px;
    top: 100px;
    left: 0px;
    background-color: #E26B15;

}

.button1 {
    text-align: center;
    background: #E26B15;
}

.button2 {
    text-align: center;
    background: #E26B15;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.avatar-button{
  background: transparent;
}

.dashboard-banner-1 {
    position: center;
}

.each-slide span {
  padding: -px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-slide>div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 400px;
}

.slide-container {
  width: 1440px;
  position: fixed;
  margin-left: 23px;
}
.menu-button{
    position: fixed;
    left: 70px;
    top: 24px;
}
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 36px;
    top: 50px;
  }

.bm-burger-bars {
  background: #a2a2a3;
}

.bm-burger-bars-hover {
    background: #FFFFFF;
  }

  .bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #a2a2a3;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
    color: #FFFFFF;
    font-size: 20px;
}

.icons {
    left: 1px;
    margin-right: 15px;
    font-size: 30px;
}

.search-box{
    width: 50px;
}