.div1{
    padding: 0px;
    margin-top: 0px;
}
.dashboard-header {
    min-width: 1080px;
    margin-top: -25px;
    width: 1920px; 
    height: 106px;
    background-color: #F37F2B;
}
.header-menu{
    position: absolute;
    width: 1920px;
    height: 50px;
    top: 100px;
    left: 0px;
    background-color: #E26B15;

}

.avatar-button{
  background: transparent;
}

.dashboard-banner-1 {
    position: center;
    width: 1920px;
    height: 400px;
    margin-left: -25px;
    background-color: darkgray;
}

.dashboard-banner-2 {
    
}

.dashboard-banner-3 {
    
}
.menu-button{
    position: fixed;
    left: 70px;
    top: 24px;
}
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 20px;
    left: 36px;
    top: 50px;
  }

.bm-burger-bars {
  background: #a2a2a3;
}

.bm-burger-bars-hover {
    background: #FFFFFF;
  }

  .bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

.bm-menu {
  background: #a2a2a3;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

.bm-item {
  display: inline-block;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.menu-item {
    color: #FFFFFF;
    font-size: 20px;
}

.icons {
    left: 1px;
    margin-right: 15px;
    font-size: 30px;
}

.search-box{
    width: 50px;
}

.site-page-header {
    border: 1px solid rgb(235, 237, 240);
  }